/*--------------------------------------------------------------
# Slider Section
--------------------------------------------------------------*/
.slider {
  background-color: rgba(48, 48, 48, 0.9);
}

.slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--accent-color);
}

.slider .swiper-wrapper {
  height: auto !important;
}

.slider .swiper-slide {
  min-height: 500px;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 575px) {
  .slider .swiper-slide {
    min-height: 300px;
  }
}

.slider .swiper-button-prev:after,
.slider .swiper-button-next:after {
  font-size: 24px;
  color: white !important;
}
